<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
</head>
<body>
    <h1>Política de Reserva</h1>
    <h3>Cada reserva debe ser de 2 días como mínimo</h3>
    <h2>Horario</h2>
    <div>
        <p>Horario de entrada 03:00 PM</p>
        <p>Horario de Salida 12:00 PM</p>
    </div>
    <p>Las reservas pueden realizarse a través de nuestro sitio web, por teléfono o airbnb.</p>
    <h2>Pagos</h2>
    <p>Para garantizar su reserva, se requiere un pago de un depósito del 30% del total de la estancia al momento de la confirmación de la misma.
        El saldo pendiente debe ser abonado 2 días despúes del check-in.</p>
    <h2>Cancelaciones y Modificaciones</h2>
    <div>
        <p>Cancelaciones con más de 7 días de antelación:</p>
        <p> Se reembolsará el 100% del depósito.</p>
    </div>
    <div>
        <p>Cancelaciones dentro de 7 días de la fecha de llegada:</p>
        <p> Se cobrará el 50% del total de la estancia.</p>
    </div>
    <div>
        <p>No presentarse (No-show):</p>
        <p> En caso de no presentarse en la fecha de llegada sin previo aviso, se cobrará el total de la reserva.</p>
    </div>
    <div>
        <p>Modificaciones:</p>
        <p>Las modificaciones de fechas son sujetas a disponibilidad y pueden implicar un cambio en el precio de la habitación.</p>
    </div>
    <a href="{% url 'home' %}">Volver</a>
</body>
</html>