{% extends "core/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class=" bg-white flex flex-col mx-4 mt-14 mb-14 p-4 border-4 rounded-2xl md:mx-96 md:pt-14 md:pb-24">
        <h1 class=" mx-auto text-xl md:text-3xl uppercase tracking-[-0.06em]">Iniciar Sesión</h1>
        <form class="flex flex-col gap-2 items-center p-4 gap-4" action="" method="post">{% csrf_token %}
            {% if 'register' in request.GET %}
                <p class="text-green-400">Usuario creado correctamente, Inicie Sesión para realizar la reserva</p>
            {% endif %}
            {% if form.non_field_errors %}
                <p class="text-red-600">Usuario o contraseña incorrectos, pruebe de nuevo</p>
            {% endif %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input class="inline-flex justify-center items-center rounded-xl bg-black px-5 py-2 font-medium text-white hover:opacity-90" type="submit" value="Acceder">
        </form>
        <div class="mx-auto">
            <p><a class="underline" href="{% url 'password_reset' %}">Recuperar contraseña</a></p>
            <p><a class="underline" href="{% url 'signup' %}">Registrarse</a></p>
        </div>
    </div>
    
    
{% endblock %}