{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block content %}
<main class="flex justify-center items-center min-h-[70svh]">
  <div class="bg-white border-4 rounded-2xl p-4 m-4 md:max-w-54">
    <h3 class="pl-4 text-xl md:text-3xl uppercase tracking-[-0.06em] text-center mb-4">Restablecimiento de contraseña completado</h3>
    <div class="flex flex-col items-center justify-center gap-4">
      <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
      <a class="mt-2 inline-flex items-center justify-center rounded-xl bg-black px-5 py-2 font-medium text-white hover:opacity-90 w-64" href="{% url 'login' %}">Iniciar sesión</a>
    </div>
  </div>
</main>
{% endblock %}