{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña enviado{% endblock %}
{% block content %}
<main class="flex justify-center items-center min-h-[70svh]">
  <div class="bg-white border-4 rounded-2xl p-4 m-4 md:max-w-54">
    <h3 class="pl-4 text-xl md:text-3xl uppercase tracking-[-0.06em] text-center mb-4">Restablecimiento de contraseña enviado</h3>
    <div class="">
      <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
      <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
    </div>
  </div>
</main>
  
{% endblock %}