{% extends 'core/base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main class="min-h-[70svh]">
  <div class="flex justify-center">
      <div class="bg-white border-4 rounded-2xl p-4 m-4">
        <h3 class="pl-4 text-xl md:text-3xl uppercase tracking-[-0.06em] text-center mb-4">Escriba la nueva contraseña</h3>
        {% if validlink %}
          <form class="flex flex-col gap-2 items-center" action="" method="post">{% csrf_token %}
            <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            {{form.new_password1.errors}}<input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña">
            {{form.new_password2.errors}}<input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña">
            <button type="submit" class="mt-2 inline-flex items-center justify-center rounded-xl bg-black px-5 py-2 font-medium text-white hover:opacity-90">Cambiar mi contraseña</button>
          </form>
        {% else %}
          <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
          <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}