{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main class="flex justify-center items-center min-h-[70svh]">
  <div class="bg-white border-4 rounded-2xl p-4 m-4 md:max-w-62">
    <h3 class="pl-4 text-xl md:text-3xl uppercase tracking-[-0.06em] text-center mb-4">Cambio de contraseña</h3>
    <form class="flex flex-col justify-center items-center gap-2 mb-4" action="" method="post">{% csrf_token %}
      <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
      {{form.old_password.errors}}
      <input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Contraseña antigua">
      {{form.new_password1.errors}}
      <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva">
      {{form.new_password2.errors}}
      <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)">
      <button type="submit" class="mt-2 inline-flex items-center justify-center rounded-xl bg-black px-5 py-2 font-medium text-white hover:opacity-90" >Cambiar mi contraseña</button>
    </form>
  </div>
</main>
{% endblock %}